@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

.content {
  min-height: 2000px;
}

.wrapper {
  width: calc( 100% - 48px );
  max-width: 1200px;
}