.footer {
  color: white;
  border: white 1px solid;
  .borderArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: #221714;
  }
  &__info {
    display: flex;
    flex-direction: row;
    gap: 60px;
    img {
      height: 100px;
      margin-top: 28px;;
    }
    .contactList {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      li {
        font-size: 16px;
      }
    }
  }
  .socialLink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    &List {
      display: flex;
      flex-direction: row;
      gap: 16px;
      img {
        width: 48px;
        height: 48px;
      }
    }
    .copyright {
      font-size: 14px;
    }
  }
}

@media ( width <= 768px ) {
  .footer {
    .borderArea {
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      padding: 40px;
      gap: 40px;
      .footerLogo {
        height: 80px;
        margin-bottom: 88px;
      }
    }
    &__info {
      flex-direction: column;
      align-items: flex-start;
      .contactList {
        line-height: 1.6;
      }
    }
    .socialLink {
      &List {
        position: absolute;
        top: 200px;
        left: 40px;
        li {
          img {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }
}