.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 999;
  &Area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-offset, 124px);
    padding: 0 60px;
    background-image: url('../images/header_cover.png');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(20px);
  }
  img.logo {
    height: 35%;
    cursor: pointer;
    &.logo--mobile {
      display: none;
    }
  }
  .navArea {
    display: flex;
    flex-direction: row;
    height: 100%;
    .mainNav {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
      padding-right: 60px;
      border-right: white 1px solid;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -.25px;
        width: 16px;
        height: 16px;
        background-image: url('../images/radius__w--rb.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      li {
        font-size: 14px;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
    .optionNav {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 90px;
      gap: 16px;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 16px;
        height: 16px;
        background-image: url('../images/radius__w--lb.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        img {
          width: 19px;
          height: 19px;
          object-fit: contain;
          object-position: center;
        }
        .searchInput {
          display: none;
        }
      }
    }
  }

  .openNav {
    position: absolute;
    top: 0;
    right: 24px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 54px;
    padding-left: 26px;
    border-left: white 1px solid;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -17px;
      width: 16px;
      height: 16px;
      background-image: url('../images/radius__w--rb.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url('../images/radius__w--lb.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  .searchArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 120px;
    height: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E45B23;
    overflow: hidden;
    transition: all .3s;
    > * {
      opacity: 0;
      transition: all .3s
    }
    &.open {
      height: var(--header-offset, 124px);
      > * {
        opacity: 1;
      }
    }
    .searchInput {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      width: 100%;
      padding: 8px 0;
      max-width: 1200px;
      border-bottom: white 1px solid;
      input[type='text'] {
        background-color: transparent;
        border: none;
        color: white;
        width: 100%;
        height: 36px;
        line-height: 36px;
        padding: 0;
        outline: none;
        &::placeholder {
          color: #EFEFEF;
          font-size: 24px;
        }
      }
      img {
        height: 24px;
        line-height: 36px;
        cursor: pointer;
      }
    }
    .close {
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
      height: 24px;
      cursor: pointer;
    }
  }
}

@media ( width <= 768px ) {
  .header {
    &Area {
      width: 100%;
      height: 54px;
      padding: 0 24px;
      transition: all .3s;
      overflow: hidden;
      &:has(.open) {
        height: 100vh;
        background-image: none;
        background-color: #E45B23;
      }
    }
    img.logo {
      display: none;
      position: absolute;
      top: 10px;
      left: 24px;
      height: 32px;
      &.logo--mobile {
        display: block;
      }
    }
    .navArea {
      position: absolute;
      top: 54px;
      left: 0;
      flex-direction: column;
      width: 100vw;
      height: calc(100vh - 54px);
      border-top: white 1px solid;
      background-color: rgba(255, 255, 255, .75);
      backdrop-filter: blur(20px);
      overflow: hidden;
      transition: all .3s;
      .mainNav {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding: 40px 20px 0;
        border-right: 0;
        background-color: #E45B23;
        &::after {
          display: none;
        }
        li {
          font-size: 28px;
          line-height: 1.6;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
      .optionNav {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 40px 0;
        background-color: #E45B23;
        &::after {
          display: none;
        }
        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 20px;
          gap: 4px;
          width: 100%;
          font-size: 14px;
          color: #fff;
          cursor: pointer;
          img {
            width: 19px;
            height: 19px;
            object-fit: contain;
            object-position: center;
            &.search {
              display: none;
            }
          }
          .searchInput {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            width: 100%;
            padding: 8px 0;
            border-bottom: white 1px solid;
            input[type='text'] {
              background-color: transparent;
              border: none;
              color: white;
              width: 100%;
              height: 24px;
              line-height: 24px;
              padding: 0;
              outline: none;
              &::placeholder {
                color: #EFEFEF;
                font-size: 20px;
              }
            }
            img {
              height: 20px;
              line-height: 34px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .openNav {
      display: flex;
      cursor: pointer;
    }
  }
}