.indexBanner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 100%;
    background-color: #E45B23;
    z-index: 9999;
  }
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: calc( 100% - 124px );
    .detail {
      position: sticky;
      top: 124px;
      left: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .line {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: white;
        z-index: 998;
      }
      .titleArea {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .title {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 16px;
        height: 100%;
        padding: 60px;
        color: white;
        border-right: white 1px solid;
        background-image: url('../images/header_cover.png');
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(20px);
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: -17px;
          width: 16px;
          height: 16px;
          background-image: url('../images/radius__w--lt.svg');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 16px;
          height: 16px;
          background-image: url('../images/radius__w--rt.svg');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        h1 {
          font-size: 88px;
        }
        h2 {
          font-size: 60px;
        }
      }

      .mobilePattern {
        display: none;
      }

      .description {
        flex: 1;
        align-self: flex-end;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        height: auto;
        padding: 48px 60px;
        color: white;
        border-top: white 1px solid;
        background-image: url('../images/header_cover.png');
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(20px);
        &::before {
          content: '';
          position: absolute;
          top: -17px;
          left: 0;
          width: 16px;
          height: 16px;
          background-image: url('../images/radius__w--lb.svg');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 16px;
          height: 16px;
          background-image: url('../images/radius__w--lt.svg');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        p {
          font-size: 24px;
          line-height: 1.4;
        }
      }
    }
  }
}

.indexIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: #FFB391 1px solid;
  border-bottom: #FFB391 1px solid;
  .wrapper {
    position: relative;
    display: flex;
    border-right: #FFB391 1px solid;
    border-left: #FFB391 1px solid;
    background-color: #FFB391;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -17px;
      width: 16px;
      height: 100%;
      background: url('../images/radius__y--rt.svg') top right / 16px 16px no-repeat,
                  url('../images/radius__y--rb.svg') bottom right / 16px 16px no-repeat;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -17px;
      width: 16px;
      height: 100%;
      background: url('../images/radius__y--lt.svg') top right / 16px 16px no-repeat,
                  url('../images/radius__y--lb.svg') bottom right / 16px 16px no-repeat;
    }
  }
  .borderArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
    padding: 100px 110px 160px;
    border-radius: 16px;
    background-color: white;
  }
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 700;
    color: #E45B23;
    &::before {
      content: '';
      width: 32px;
      height: 16px;
      background-image: url('../images/titlePattern.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  p {
    font-size: 28px;
    line-height: 1.6;
    color: #E45B23;
  }
}

.indexCategory {
  display: flex;
  flex-direction: column;
  padding-bottom: 84px;
  &__title {
    display: flex;
    flex-direction: row;
    padding: 48px 60px;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 700;
    color: #E45B23;
    &::before {
      content: '';
      width: 32px;
      height: 16px;
      background-image: url('../images/titlePattern.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: row;
    > img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      object-position: center;
    }
    .detail {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      gap: 24px;
      padding: 60px;
      width: calc(100% - 300px);
      height: 100%;
      color: white;
      background: linear-gradient(90deg, #2217148C 0%, #22171400 100%);
      .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        height: 100%;
      }
      > img {
        width: 100px;
      }
      h1 {
        font-size: 72px;
      }
      h2 {
        font-size: 40px;
      }
    }
  }
}

.typeA {
  .indexCategory__content {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 300px;
      height: 100%;
      background-image: url('../images/header_cover.png');
      background-size: cover;
      background-position: center;
      backdrop-filter: blur(6px);
    }
    .detail {
      top: 0;
      left: 0;
      border-right: white 1px solid;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -16.5px;
        width: 32px;
        height: 100%;
        background: url('../images/radius__w--t.svg') top center / 32px 16px no-repeat,
                    url('../images/radius__w--b.svg') bottom center / 32px 16px no-repeat;
                    z-index: 99;
      }
    }
  }
}

.typeB {
  .indexCategory__content {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 100%;
      background-image: url('../images/header_cover.png');
      background-size: cover;
      background-position: center;
      backdrop-filter: blur(6px);
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 150px;
      height: 100%;
      background-image: url('../images/header_cover.png');
      background-size: cover;
      background-position: center;
      backdrop-filter: blur(6px);
    }
    .detail {
      top: 0;
      left: 150px;
      border-left: white 1px solid;
      border-right: white 1px solid;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -16.5px;
        width: 32px;
        height: 100%;
        background: url('../images/radius__w--t.svg') top center / 32px 16px no-repeat,
                    url('../images/radius__w--b.svg') bottom center / 32px 16px no-repeat;
                    z-index: 99;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -16.5px;
        width: 32px;
        height: 100%;
        background: url('../images/radius__w--t.svg') top center / 32px 16px no-repeat,
                    url('../images/radius__w--b.svg') bottom center / 32px 16px no-repeat;
                    z-index: 99;
      }
    }
  }
}

.typeC {
  .indexCategory__content {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 100%;
      background-image: url('../images/header_cover.png');
      background-size: cover;
      background-position: center;
      backdrop-filter: blur(6px);
    }
    .detail {
      top: 0;
      left: 300px;
      border-left: white 1px solid;
      border-right: white 1px solid;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -16.5px;
        width: 32px;
        height: 100%;
        background: url('../images/radius__w--t.svg') top center / 32px 16px no-repeat,
                    url('../images/radius__w--b.svg') bottom center / 32px 16px no-repeat;
                    z-index: 99;
      }
    }
  }
}

@media ( width <= 768px ) {
  .indexBanner {
    &::after {
      z-index: 99;
    }
    &__content {
      position: absolute;
      flex-direction: column;
      align-items: flex-end;
      height: 100% !important;
      .detail {
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .line {
          position: sticky;
          top: 54px !important
        }
        .titleArea {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: auto;
        }
        .title {
          width: 100%;
          height: auto;
          padding: 88px 20px 60px 36px;
          border-right: 0;
          border-bottom: white 1px solid;
          &::before, &::after {
            display: none;
          }
          h1 {
            font-size: 72px;
          }
          h2 {
            font-size: 40px;
          }
        }

        .mobilePattern {
          position: relative;
          flex: 1;
          display: block;
          width: 100px;
          border-left: white 1px solid;
          background-image: url('../images/header_cover.png');
          background-size: cover;
          background-position: center;
          backdrop-filter: blur(20px);
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -16.5px;
            width: 32px;
            height: 100%;
            background: url('../images/radius__w--t.svg') top center / 32px 16px no-repeat,
                        url('../images/radius__w--b.svg') bottom center / 32px 16px no-repeat;
          }
        }

        .description {
          flex: none;
          height: auto;
          padding: 24px 20px 24px 36px;
          &::before, &::after {
            display: none;
          }
          p {
            font-size: 24px;
            line-height: 1.4;
          }
        }
      }
    }
  }

  .indexIntro {
    .borderArea {
      gap: 40px;
      padding: 40px 25px 60px;
    }
    p {
      font-size: 22px;
    }
  }

  .indexCategory {
    &__title {
      padding: 40px 20px;
    }

    &__content {
      > img {
        height: 420px;
      }
      .detail {
        flex-direction: column;
        padding: 24px;
        width: calc(100% - 60px);
        > img {
          width: 60px;
        }
        h1 {
          font-size: 64px;
        }
        h2 {
          font-size: 28px;
        }
      }
    }
  }

  .typeA {
    .indexCategory__content {
      &::after {
        width: 60px;
      }
    }
  }

  .typeB {
    .indexCategory__content {
      &::before {
        width: 30px;
      }
      &::after {
        width: 30px;
      }
      .detail {
        left: 30px;
      }
    }
  }

  .typeC {
    .indexCategory__content {
      &::before {
        width: 60px;
      }
      .detail {
        left: 60px;
      }
    }
  }
}