.positionBanner {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 100%;
    background-color: #E45B23;
    z-index: 9999;
  }
  &__map {
    width: 100%;
    height: 100vh;
  }
  &__content {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 99;
    .line {
      position: sticky;
      top: 124px;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;
      height: 1px;
      background-color: white;
      z-index: 998;
    }
    .detail {
      position: sticky;
      top: 124px;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      width: 440px;
      height: 100%;
      margin-top: -1px;
      padding-right: 16.5px;
      overflow: hidden;
      .titleArea {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }
      .pattern {
        position: sticky;
        top: 0;
        right: 0;
        z-index: 998;
        &::after {
          content: '';
          position: absolute  ;
          top: 0;
          right: -16px;
          width: 32px;
          height: 16px;
          background-image: url('../images/radius__w--t.svg');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
      }
      .title {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 24px;
        width: 100%;
        height: 100%;
        padding: 48px 60px;
        border-right: white 1px solid;
        white-space: nowrap;
        color: white;
        border-bottom: white 1px solid;
        background-image: url('../images/header_cover.png');
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(8px);
        &::after {
         content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 16px;
          height: 16px;
          background-image: url('../images/radius__w--rb.svg');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        h1 {
          display: flex;
          flex-direction: column;
          font-size: 72px;
          line-height: 1.1;
        }
        h2 {
          font-size: 40px;
          line-height: 1.4;
        }
      }
      .description {
        position: relative;
        padding: 48px 60px;
        font-size: 20px;
        line-height: 1.6;
        color: white;
        border-right: white 1px solid;
        background-image: url('../images/header_cover.png');
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(8px);
        &::before {
         content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 16px;
          height: 16px;
          background-image: url('../images/radius__w--rt.svg');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
      }
    }
  }
  &__card {
    position: sticky;
    top: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    margin: 24px;
    border-radius: 16px;
    color: white;
    background-color: black;
    opacity: 1;
    transition: all .3s;
    cursor: pointer;
    img {
      width: 240px;
      height: 135px;
      border-radius: 8px;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
    }
    .title {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.6;
    }
    &.hide {
      opacity: 0;
    }
  }
  .btn--zoom  {
    position: absolute;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all .2s;
    &:hover {
      transform: scale(1.05);
    }
    &.zoom-in {
      bottom: 56px;
      right: 20px;
    }
    &.zoom-out {
      bottom: 20px;
      right: 20px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.positionList {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  background-color: #EFEFEF;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: white 1px solid;
    &:last-child {
      border-bottom: white 1px solid;
    }
  }
  ul {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 24px;
    li {
      position: relative;
      width: calc( 50% - 12px );
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        width: 10px;
        height: 100%;
        background: url('../images/radius__w--rt.svg') top right / 10px 10px no-repeat,
                    url('../images/radius__w--rb.svg') bottom right / 10px 10px no-repeat;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -10px;
        width: 10px;
        height: 100%;
        background: url('../images/radius__w--lt.svg') top left / 10px 10px no-repeat,
                    url('../images/radius__w--lb.svg') bottom left / 10px 10px no-repeat;
      }
      .image {
        width: 100%;
        height: 300px;
        background-color: white;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 10px;
          border: white 1px solid;
          border-top: 0;
          overflow: hidden;
        }
      }
      .option {
        background-color: white;
        .optionArea {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 20px 24px 48px;
          border-radius: 10px;
          border: white 1px solid;
          border-bottom: 0;
          background-color: #EFEFEF;
          .title {
            font-size: 28px;
            font-weight: 500;
            line-height: 1.6;
          }
          img {
            width: 48px;
          }
        }
      }
    }
  }
}


@media ( width <= 768px ) {
  .positionBanner {
    position: relative;
    &::after {
      height: 80vh;
      z-index: 99;
    }
    &__map {
      height: 80vh;
    }
    &__content {
      position: absolute;
      top: 0 !important;
      width: 100%;
      height: auto !important;
      padding-top: 54px;
      z-index: 99;
      .line {
        position: sticky;
        top: 54px !important;
      }
      .detail {
        position: static;
        gap: 16px;
        width: 100%;
        height: auto !important;
        margin-top: 0;
        padding-right: 0;
        background-image: url('../images/header_cover.png');
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(8px);
        .pattern {
          display: none;
        }
        .title {
          padding: 38px 20px 0 36px;
          border-right: 0;
          border-bottom: 0;
          background-image: none;
          backdrop-filter: none;
          &::after {
            display: none;
          }
          h1 {
            display: none;
          }
          h2 {
            font-size: 28px;
          }
        }
        .description {
          padding: 0 20px 38px 36px;
          font-size: 18px;
          border-right: 0;
          background-image: none;
          backdrop-filter: none;
          &::before {
            display: none;
          }
        }
      }
    }
    &__card {
      position: absolute;
      top: calc(80vh - 57px);
      right: auto;
      left: 28px;
      padding: 8px 16px;
      margin: 0;
      img {
        display: none;
      }
      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        line-height: 1.6;
        &::after {
          content: '';
          width: 20px;
          height: 20px;
          background-image: url('../images/btn--link--y--s.svg');
          background-size: contain;
          background-position: center;
        }
      }
    }
    .btn--zoom  {
      &.zoom-in {
        bottom: 48px;
        right: 12px;
      }
      &.zoom-out {
        bottom: 12px;
        right: 12px;
      }
    }
  }

  .positionList {
    position: relative;
    padding: 60px 0;
    &::before {
      content: '';
      position: absolute;
      top: 60px;
      left: 14px;
      width: 10px;
      height: calc( 100% - 120px );
      background: url('../images/radius__w--rt.svg') top right / 10px 10px no-repeat,
                  url('../images/radius__w--rb.svg') bottom right / 10px 10px no-repeat;
    }
    &::after {
      content: '';
      position: absolute;
      top: 60px;
      right: 14px;
      width: 10px;
      height: calc( 100% - 120px );
      background: url('../images/radius__w--lt.svg') top left / 10px 10px no-repeat,
                  url('../images/radius__w--lb.svg') bottom left / 10px 10px no-repeat;
    }
    &__item {
      border: 0;
      &:first-child {
        border-top: white 1px solid;
      }
    }
    ul {
      flex-direction: column;
      gap: 0 24px;
      li {
        position: relative;
        width: 100%;
        &::before, &::after {
          display: none;
        }
        .image {
          height: 240px;
        }
        .option {
          .optionArea {
            .title {
              font-size: 22px;
            }
            img {
              width: 32px;
            }
          }
        }
      }
    }
  }

}