.positionInsideBanner {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 100%;
    background-color: #E45B23;
    z-index: 9999;
  }
  > img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
  }
  &__content {
    position: absolute;
    top: 124px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    z-index: 99;
    .line {
      position: sticky;
      top: 124px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: white;
      z-index: 998;
    }
    .detail {
      position: sticky;
      top: 124px;
      left: 0;
      height: 100%;
      padding-right: 16px;
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 16px;
        background-image: url('../images/radius__w--t.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        height: 100%;
        padding: 0 60px;
        color: white;
        border-right: white 1px solid;
        background-image: url('../images/header_cover.png');
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(8px);
      }
      h1 {
        font-size: 60px;
        line-height: 1.4;
      }
      .number {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        font-size: 12px;
        font-weight: 700;
        &::before {
          content: '';
          width: 32px;
          height: 16px;
          background-image: url('../images/titlePattern--w.svg');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.positionInsideContent {
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 65px 0 45px;
      .back {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        img {
          width: 24px;
        }
      }
      .shareLink {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        ul {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          li {
            &.mobileBtn {
              display: none;
            }
            img {
              width: 36px;
            }
          }
        }
      }
    }
  }
  .positionInside720 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    &Area {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      border-top: #FFB391 1px solid;
      border-bottom: #FFB391 1px solid;
      .wrapper {
        position: relative;
        background-color: #FFB391;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -10px;
          width: 10px;
          height: 100%;
          background: url('../images/radius__y--rt.svg') top right / 10px 10px no-repeat,
                      url('../images/radius__y--rb.svg') bottom right / 10px 10px no-repeat;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: -10px;
          width: 10px;
          height: 100%;
          background: url('../images/radius__y--lt.svg') top left / 10px 10px no-repeat,
                      url('../images/radius__y--lb.svg') bottom left / 10px 10px no-repeat;
        }
      }
      iframe {
        display: block;
        width: 100%;
        height: 500px;
        border-radius: 10px;
        background-color: #aaa;
        overflow: hidden;
      }
    }
    h3 {
      font-size: 24px;
      line-height: 1.4;
      font-weight: 500;
      color: #C5A27A;
    }
  }
}

.positionInsideDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  > .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    > .wrapper {
      display: flex;
      flex-direction: row;
      padding: 60px 0 40px;
      span {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        width: 100%;
        font-size: 12px;
        font-weight: 700;
        color: #E45B23;
        &::before {
          content: '';
          width: 32px;
          height: 16px;
          background-image: url('../images/titlePattern--inside.svg');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.detailModule {
  width: 100%;
  border-top: white 1px solid;
  &:last-child {
    border-bottom: white 1px solid;
  }
  &.doublePic, &.singlePic {
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 96px;
    }
    .picCard {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 50%;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        width: 10px;
        height: 100%;
        background: url('../images/radius__w--rt.svg') top right / 10px 10px no-repeat,
                    url('../images/radius__w--rb.svg') bottom right / 10px 10px no-repeat;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -10px;
        width: 10px;
        height: 100%;
        background: url('../images/radius__w--lt.svg') top left / 10px 10px no-repeat,
                    url('../images/radius__w--lb.svg') bottom left / 10px 10px no-repeat;
      }
    }
    .image {
      width: 100%;
      height: 300px;
      background-color: white;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        border: white 1px solid;
        border-top: 0;
        overflow: hidden;
      }
    }

    .title {
      background-color: white;
      .titleArea {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px 60px;
        font-size: 16px;;
        border-radius: 10px;
        border: white 1px solid;
        border-bottom: 0;
        background-color: #EFEFEF;
      }
    }
  }
  &.singlePic {
    .image {
      height: 500px;
    }
  }
  &.editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapper {
      position: relative;
      background-color: white;
      .borderArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 60px 40px 80px;
        border-left: white 1px solid;
        border-right: white 1px solid;
        border-radius: 10px;
        background-color: #EFEFEF;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -10px;
          width: 10px;
          height: 100%;
          background: url('../images/radius__w--rt.svg') top right / 10px 10px no-repeat,
                      url('../images/radius__w--rb.svg') bottom right / 10px 10px no-repeat;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: -10px;
          width: 10px;
          height: 100%;
          background: url('../images/radius__w--lt.svg') top left / 10px 10px no-repeat,
                      url('../images/radius__w--lb.svg') bottom left / 10px 10px no-repeat;
        }
        > * {
          width: 100%;
        }
        .head_1 {
          font-size: 40px;
          font-weight: 500;
          line-height: 1.4;
        }
        .head_2 {
          font-size: 28px;
          font-weight: 500;
          line-height: 1.6;
        }
        .head_3 {
          font-size: 24px;
          font-weight: 500;
          line-height: 1.4;
        }
        .paragraph {
          font-size: 14px;
          line-height: 1.6;
        }
        .quote {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 16px;
          padding: 44px 0;
          color: #E45B23;
          &:before {
            content: '“';
            font-size: 60px;
            font-weight: 400;
            line-height: 1.4;
          }
          &:after {
            content: '”';
            font-size: 60px;
            font-weight: 400;
            line-height: 1.4;
          }
          span {
            font-size: 24px;
            font-weight: 500;
            line-height: 1.4;
          }
        }
        .textLink {
          font-size: 16px;
          line-height: 1.6;
          color: #905F27;
          text-decoration: underline;
        }
      }
    }
  }

  &.image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      border-right: white 1px solid;
      border-left: white 1px solid;
      background-color: white;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        width: 10px;
        height: 100%;
        background: url('../images/radius__w--rt.svg') top right / 10px 10px no-repeat,
                    url('../images/radius__w--rb.svg') bottom right / 10px 10px no-repeat;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -10px;
        width: 10px;
        height: 100%;
        background: url('../images/radius__w--lt.svg') top left / 10px 10px no-repeat,
                    url('../images/radius__w--lb.svg') bottom left / 10px 10px no-repeat;
      }
      > *:first-child {
        border-right: white 1px solid;
      }
      .text {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 40px;
        border-radius: 10px;
        background-color: #EFEFEF;
        .title {
          font-size: 20px;
          font-weight: 500;
          line-height: 1.6;
        }
        p {
          font-size: 16px;
          line-height: 1.6;
        }
      }
      .image {
        flex: 2;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  &.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    border-top: white 1px solid;
    .wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        width: 10px;
        height: 100%;
        background: url('../images/radius__w--rt.svg') top right / 10px 10px no-repeat,
                    url('../images/radius__w--rb.svg') bottom right / 10px 10px no-repeat;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -10px;
        width: 10px;
        height: 100%;
        background: url('../images/radius__w--lt.svg') top left / 10px 10px no-repeat,
                    url('../images/radius__w--lb.svg') bottom left / 10px 10px no-repeat;
      }
    }
    .videoArea {
      position: relative;
      width: 100%;
      height: 500px;
      background-color: white;
      &::after {
        content: '';
        position: absolute;
        top: calc( 50% - 50px);
        left: calc( 50% - 50px);
        width: 100px;
        height: 100px;
        background-image: url('../images/btn--play.svg');
        background-size: contain;
        background-position: center;
        cursor: pointer;
      }
      iframe {
        position: relative;
        width: 100%;
        height: 100%;
        border: white 1px solid;
        border-top: 0;
        border-radius: 10px;
        background-color: #aaa;
        overflow: hidden;
      }
    }

    .title {
      background-color: white;
      .titleArea {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px 60px;
        font-size: 16px;;
        border-radius: 10px;
        border: white 1px solid;
        border-bottom: 0;
        background-color: #EFEFEF;
      }
    }
  }

  &.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    .sliderArea {
      display: flex;
      flex-direction: row;
      gap: 24px;
      width: 100%;
    }
    .sliderItem {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        width: 10px;
        height: 100%;
        background: url('../images/radius__w--rt.svg') top right / 10px 10px no-repeat,
                    url('../images/radius__w--rb.svg') bottom right / 10px 10px no-repeat;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -10px;
        width: 10px;
        height: 100%;
        background: url('../images/radius__w--lt.svg') top left / 10px 10px no-repeat,
                    url('../images/radius__w--lb.svg') bottom left / 10px 10px no-repeat;
      }
    }
    .image {
      width: 100%;
      height: 240px;
      background-color: white;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        border: white 1px solid;
        border-top: 0;
        overflow: hidden;
      }
    }

    .title {
      background-color: white;
      .titleArea {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px 60px;
        font-size: 16px;;
        border-radius: 10px;
        border: white 1px solid;
        border-bottom: 0;
        background-color: #EFEFEF;
      }
    }
  }
}

@media ( width <= 768px ) {
  .positionInsideBanner {
    &::after {
      z-index: 99;
    }
    > img {
      height: 80vh;
    }
    &__content {
      top: 0 !important;
      height: auto !important;
      .line {
        top: 54px !important;
      }
      .detail {
        position: static;
        width: 100%;
        height: auto !important;
        padding-right: 0;
        padding-top: 94px;
        padding-bottom: 78px;
        border-right: 0;
        border-bottom: white 1px solid;
        background-image: url('../images/header_cover.png');
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(8px);
        &::after {
          display: none;
        }
        .title {
          gap: 16px;
          padding: 0 36px;
          border-right: 0;
          background-image: none;
          backdrop-filter: none;
        }
        h1 {
          font-size: 44px;
        }
      }
    }
  }
  .positionInsideContent {
    .info {
      .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        .shareLink {
          span {
            display: none;
          }
          ul {
            li {
              display: none;
              &.mobileBtn {
                display: block;
              }
            }
          }
        }
      }
    }
    .positionInside720 {
      h3 {
        display: none;
      }
    }
  }

  .detailModule {
    &.doublePic, &.singlePic {
      display: flex;
      flex-direction: column;
      align-items: center;
      .wrapper {
        flex-direction: column;
        gap: 0;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -10px;
          width: 10px;
          height: 100%;
          background: url('../images/radius__w--rt.svg') top right / 10px 10px no-repeat,
                      url('../images/radius__w--rb.svg') bottom right / 10px 10px no-repeat;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: -10px;
          width: 10px;
          height: 100%;
          background: url('../images/radius__w--lt.svg') top left / 10px 10px no-repeat,
                      url('../images/radius__w--lb.svg') bottom left / 10px 10px no-repeat;
        }
      }
      .picCard {
        width: 100%;
        &::before, &::after {
          display: none;
        }
      }
      .image {
        width: 100%;
        height: 240px;
      }
    }
    &.singlePic {
      .image {
        height: 240px;
      }
    }
    &.editor {
      .wrapper {
        .borderArea {
          padding: 24px 20px 40px;
          .head_1 {
            font-size: 28px;
          }
          .head_2 {
            font-size: 22px;
          }
          .head_3 {
            font-size: 20px;
          }
          .paragraph {
            font-size: 14px;
          }
          .quote {
            flex-direction: column;
            gap: 0;
            padding: 0;
            &:before {
              font-size: 40px;
            }
            &:after {
              align-self: flex-end;
              font-size: 40px;
            }
            span {
              font-size: 20px;
            }
          }
          .textLink {
            font-size: 14px;
          }
        }
      }
    }

    &.image-text {
      .wrapper {
        flex-direction: column;
        .text {
          padding: 24px 20px 40px;
          p {
            font-size: 14px;
          }
        }
      }
      &.image-left {
        .wrapper {
          flex-direction: column-reverse;
        }
      }
    }

    &.video {
      margin-top: 0;
      .videoArea {
        height: 240px;
        &::after {
          top: calc( 50% - 30px);
          left: calc( 50% - 30px);
          width: 60px;
          height: 60px;
        }
      }
    }

    &.slider {
      .sliderArea {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}